extends header

block content
  div(id='machineNames' style='display:none')=`${machineNames}`
  div(id='pinsTimeLeft' style='display:none')=`${pinsTimeLeft}`
  div(class='container')
    div(class="row")
      div(id="machinesDiv")
      - for(var i = 0; i < machineNames.length; i++)
        div(class="row")
          div(class="col-sm-6")
            button(id='machineButton'+i type="button" class="btn btn-default btn-lg btn-block" onclick="startMachine("+i+")" disabled)=machineNames[i]
          - i += 1
          if (i < machineNames.length)
            div(class="col-sm-6")
              button(id='machineButton'+i type="button" class="btn btn-default btn-lg btn-block" onclick="startMachine("+i+")" disabled)=machineNames[i]
        div(class="row")
          p

  button(id="hiddenButton" class="align-self-end btn btn-default btn-lg" onclick='authorize()') Authorize
  
  script(src="/root.js")