doctype html
html
  head
    title=`${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    style .row-margin-05 { margin-top: 0.5em; } .row-margin-10 { margin-top: 1.0em; } .row-margin-20 { margin-top: 2.0em; } .row-margin-30 { margin-top: 3.0em; }

  body
    div(class="jumbotron text-center")
      h1 Kalmar Makerspace Maskin Interface
      p Välj maskin att starta, svep sen din tag för aktivera maskinen

    block content