extends layout

block content
  div(class='container')
    div(class="row")
      div(class="col-sm-4")
        button(type="button" class="btn-primary btn-lg btn-block" onclick="location.href='/swipetag?machineid=1';") Svarv
      div(class="col-sm-4")
        p
      div(class="col-sm-4")
        button(type="button" class="btn-primary btn-lg btn-block" onclick="location.href='/swipetag?machineid=2';") Bandsåg
    div(class="row row-margin-30")
      div(class="col-sm-4")
        button(type="button" class="btn-primary btn-lg btn-block" onclick="location.href='/swipetag?machineid=3';") Bordsåg
      div(class="col-sm-4")
        p
      div(class="col-sm-4")
        button(type="button" class="btn-primary btn-lg btn-block" onclick="location.href='/swipetag?machineid=4';") CNC-fräs