extends layout

block content
  div(class='container')
    div(class="col-sm-12")
      h1(style="text-align:center;") Svep din tag på läsaren för att aktivera
      h1(id="replaceMachineName" style="text-align:center;")
      h1(id="wait" style="text-align:center;").

  script
    include ../swipetag.js